<div ng-app="pokerApp" ng-controller="planningPokerController">
    <a class="waves-effect waves-light btn">New</a>
    <a class="waves-effect waves-light btn">Join</a>
    <br/>
    <input type="text" placeholder="name" />
    <br/>
    <input type="text" placeholder="code" />
    <h2>Room List</h2>
    <div class="collection">
        <a href="#!" class="collection-item">Room #1</a>
        <a href="#!" class="collection-item active">Room #2</a>
        <a href="#!" class="collection-item">Room #3</a>
        <a href="#!" class="collection-item">Room #4</a>
    </div>
</div>
